*{
    margin: 0;
    padding: 0;
}

table.list-user thead tr {
    height: 50px;
    background: #fb89ac;
}

table.list-user tbody tr {
    display: table-row;
}

table.list-user tbody {
    display: table-row-group;
}

table.list-user thead {
    display: table-header-group;
}

table.list-user tbody tr td:last-child {
    display: inline;
}

table.list-user tbody tr td {
    width: 20%;
    text-align: left;
    padding-left: 16px;
}

table.list-user tbody tr td.role-user {
    width: 10%!important;
    text-align: left;
}

table.list-user tbody tr td form {
    display: inline;
}

table.list-user thead tr th {
    width: 20%!important;
    text-align: left;
    padding-left: 25px;
}

table.list-user {
    width: 100%!important;
    margin-left: 20px;
    display: table;
}

.form-edit-user {
    width: 55%;
}

.form-create-user {
    width: 55%;
}

button#add-new-user {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #ff98b7;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 10px 20px;
}
button#add-new-user:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

td#button-option-user button {
  width: 59px;
  height: 31px;
  font-size: 11px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 10px 0px;
}

button#button-delete-user {
    width: 74px!important;
}

table.list-user tbody tr.old{
    background: #f7dae3;
}

table.list-user tbody tr.even{
    background: #ffefef;
}

.pagination-user {
    text-align: center;
}
table table-bordered{
	padding: 5px 5px;
    vertical-align: middle;
}

.h2 {
    font-size: x-large;
    padding: unset;
    margin: auto;
}

.container-fluid.vip {
    width: 700px;
}

button.btn.btn-default.cre-sub{
    float: right;
    margin: 10px;
}