*{
	margin: 0;
	padding: 0;
}

table.list-user tbody tr td:last-child {
    display: inline;
}

table.list-user tbody tr td {
    width: 20%;
    text-align: left;
}

table.list-user tbody tr td.role-user {
    width: 10%!important;
    text-align: left;
}

table.list-user tbody tr td form {
    display: inline;
}

table.list-user thead tr th {
    width: 20%!important;
    text-align: left;
}

table.list-user {
    width: 100%!important;
    margin-left: 20px;
}

.form-edit-user {
    width: 55%;
}

.form-create-user {
    width: 55%;
}