*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a.a_lang {
    margin: 14px 9px!important;
    padding: 1px 1px!important;
}

img.icon-lang {
    width: 30px;
}

.notify-error a.btn.btn-warning {
    border-right: 2px solid #f7f7f8;
}

.search-user button {
    display: contents;
}

.search-user input#input:focus {
    width: 70%;
    transition: all 0.5s;
}

.search-user i.fa {
    position: absolute;
    z-index: 999;
    right: 15px;
    top: 10px;
    font-size: 19px;
    color: #263544;
}

.search-user {
    float: right!important;
    min-width: 500px;
    max-width: 700px;
    position: relative;
    margin: 10px 13px;
}

.search-user input#input {
    position: absolute;
    z-index: 1;
    right: 0;
    float: right;
    width: 50%;
    transition: all 0.5s;
}

.pagination-user .pagination {
    padding: 0px!important;
}

.pagination-user {
    margin-left: 20px;
}

.form-user label {
    font-weight: 400;
}

.navigation-bar .btn-close a {
    padding: 15px 20px;
    cursor: pointer;
    display: inline-block;
    color: white!important;
}

.navigation-bar {
    background-color: #263544;
    height: 50px;
    text-align: right;
    margin-bottom: 20px;
}

.form-user form {
    margin: 0px 10px 0px 2px;
}

.alter.notif-user{
  margin: 0!important;
}

.notif-user a.close {
    position: relative;
    top: -5px!important;
    right: 0!important;
    color: #0e0e0e!important;
    font-size: 30px;
}

.notif-user {
    width: 97%;
    margin-left: 1.38em;
    padding: 17px 15px;
    border-radius: 7px;
}

.btn-option-user {
    background: transparent;
    border: none;
    font-size: 20px;
    margin: 10px;
}

button#btn-form-user {
    width: 90px!important;
    height: 40px!important;
    font-size: 16px!important;
}

table.list-user thead tr {
    background: #50677d;
    color: white;
}

table.list-user tbody tr {
    display: table-row;
    transition: all 0.4s;
}

table.list-user tbody tr:hover {
    color: white;
    background: #7d8c9a!important;
    transition: all 0.4s;
}

table.list-user tbody {
    display: table-row-group;
}

table.list-user thead {
    display: table-header-group;
}

table.list-user tbody tr td:last-child {
    display: inline;
}

table.list-user tbody tr td {
    width: 21.5%;
    text-align: left;
    padding-left: 16px;
}

table.list-user tbody tr td.stt-user {
    width: 5%;
    padding-left: 2.5em;
}

table.list-user tbody tr td.role-user {
    width: 10%!important;
    text-align: left;
}

table.list-user tbody tr td form {
    display: inline;
}

table.list-user thead tr th {
    text-align: left;
    padding: 0px 30px;
}

table.list-user {
    width: 97%!important;
    margin-left: 20px;
    display: table;
    background-color: #f2f7fb;
}

button#add-new-user {
  width: 45px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  background-color: #263544;
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 10px 20px;
  color: white;
}

button#add-new-user:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.btn-form-user, button#btn-form-user{
  font-weight: 500;
  color: #e0e0e0;
  background-color: #263544;
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 10px 0px;
}
/*
td#button-option-user button{
  width: 59px;
  height: 31px;
  font-size: 11px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 10px 0px;
}

button#button-delete-user {
    width: 74px!important;
}*/

table.list-user tbody tr.old{
    background: #cccccc;
}

table.list-user tbody tr.even{
    background: #e8e8e8;
}

.main-panel .navbar {
    background: #ededed!important;
}

.sidebar .sidebar-wrapper {
    background-color: #263544!important;
}