
table table-bordered{
	padding: 5px 5px;
    vertical-align: middle;
}

.h2 {
    font-size: x-large;
    padding: unset;
    margin: auto;
}


/*create.blade*/
button#create-rooms {
     height: 50px;
    width: 90px;
    margin: 20px 28px 0px 710px;
    color: white;
    background-color: #2d4e96;
    border: none;
    border-radius: 45px;
}
button#create-rooms:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.container-fluid.dange {
    padding: 20px 0px;
    width: 800px
}

/*index.blade*/
button#add-new-rooms {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #ff98b7;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 10px 36px;
}

button#add-new-rooms:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
table.list-room tbody tr.old{
    background: #dadaf7
}

table.list-room tbody tr.even{
    background: #ffefef;
}

a.coll {
    color: white;
}

table.list-room {
    width: 100%!important;
    display: table;
}

button.button-room {
    width: 61px;
    height: 31px;
    font-size: 11px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 10px 0px;
}
table.list-room thead tr {
    height: 50px;
    background: #fb89ac;
}
tr {
    height: 50px;
    background: #89fbb740;
}
/*edit.blade*/

.container-fluid.roomList{
   padding: 20px 0px;
    width: 800px
}
button#btn-edit-rooms {
    height: 50px;
    width: 90px;
    margin: 20px 28px 0px 710px;
    color: white;
    background-color: #2d4e96;
    border: none;
    border-radius: 45px;
}
button#btn-edit-rooms:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

form.bo {
    padding: unset;
}
input.form-control {
    margin: 5px;
}

.alertroom{
    color: red;
}

.errors{
    border-color: red;
}

/* Seach */
input#country_name {
    border: none;
    border-radius: 45px;
    background-color: #4c333f;
    color: #fff;
    width: unset;
    margin: auto;
}

/* Grid*/

.img-middle {
    position: relative;
    margin: 3px;
    background: #FFFFFF;
    border: 3px solid;
    border-radius: 5px;
    box-shadow: 0px 2px #c1bdbd;
    width: 298px;
}
.middle {
    width: 300px;
    height: 252px;
    position: absolute;
    top: 0px;
    left: 14px;
    opacity: 0;
}
.block-img:hover .col-lg-6.middle {
    background: #f7dae385;
    opacity: 1;
}
.row.bgr-block {
    background: white;
    padding-bottom: 30px;
    padding-top: 30px;
}
.row.bgr-top-block {
    margin: -1px;
    width: 294px;
}
#button-option-edit-device button {
  width: 59px;
  height: 31px;
  font-size: 11px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: white;;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 10px 0px;
  text-align: center;
}
button {
    width: 59px;
    height: 31px;
    font-size: 11px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: white;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 10px 0px;
}
button {
    padding-right: 25px;
}

div#button-option-edit-device {
    padding-left: 25px;
}
.col-lg-4.block {
    padding-bottom: 20px;
}

.contaiter-fluid.text-center {
    margin: 40px;
    padding-right: 33px;
    padding-left: 14px;
    margin-right: auto;
    margin-left: auto;
}

/*123*/
ul.pagination {
    display: inline-block;
    padding-left: 270px;
    margin: 20px 0;
    border-radius: 4px;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.cursor-pointer{
  cursor: pointer;
}

/*index*/
.col-lg-11.img-middle.btn {
    position: relative;
    margin: 5px;
    padding: 1px;
    background: #FFFFFF;
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 5px 8px #c1bdbd;
}
.col-lg-6.middle.cursor-pointer {
    width: 299px;
    height: 203px;
    position: absolute;
    top: 38px;
    left: 19px;
    opacity: 0;
}
.row {
    margin-right: auto;
    margin-left: auto;
}