.container-fluid.vip {
    width: 700px;
}

.form-edit-user {
    width: 55%;
}

.form-create-user {
    width: 55%;
}
button.btn.btn-default.cre-sub{
    float: right;
    margin: 10px;
}
.font-bold{
	font-weight: 500;
}
button#add-new-device {
  width: 140px; 
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000000;
  background-color: #ff98b7;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 10px 20px;
  margin-left: 0px;
}
button#add-new-device:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: white;
  transform: translateY(-7px);
}

td#button-option-edit-device button {
  width: 59px;
  height: 31px;
  font-size: 11px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 10px 0px;
}
td#button-option-del-device button {
  width: 72px;
  height: 31px;
  font-size: 11px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 10px 0px;
}
table.list-device tbody tr.old{
    background: #f7dae3;
}

table.list-device tbody tr.even{
    background: #ffefef;
}
table.list-device thead tr {
    height: 50px;
    background: #fb89ac;
    color: blue;
}
.has-error{
	border-color: red;
}
.alertdevice{
	color: red;
}