.container-fluid.vip {
    width: 700px;
}
.form-edit-user {
    width: 55%;
}
.form-create-user {
    width: 55%;
}
.font-bold{
  font-weight: 500;
}
button#add-new-tdv{
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #ff98b7;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 10px 20px;
}
button#add-new-tdv:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px); 
}

/* Create */
button.btn.btn-default.cre-sub{
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #ff98b7;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 10px 20px;	

}
button.btn.btn-default.cre-sub:hover{
  	background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
/* Edit */
button.btn.btn-default.edi-sub{
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #ff98b7;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 10px 20px;	

}
button.btn.btn-default.edi-sub:hover{
	  background-color: #2EE59D;
  	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  	color: #fff;
  	transform: translateY(-7px)
}

table.list-typedevice tbody tr.old{
    background: #f7dae3;
}

table.list-typedevice tbody tr.even{
    background: #ffefef;
}
table.list-typedevice thead tr {
    height: 50px;
    background: #fb89ac;
    color: blue;
}
.has-error{
  border-color: red;
}
table.container-fluid.text-center{
   font-weight: bold; 
}
