/*.stt{
    width: 10px;
}*/

table.list-tag thead tr {
    height: 50px;
    background: #fb89ac;
}

table.list-tag tbody tr {
    display: table-row;
}

table.list-tag tbody {
    display: table-row-group;
}

table.list-tag thead {
    display: table-header-group;
}

table.list-tag tbody tr td:last-child {
    display: inline;
}

table.list-tag tbody tr td {
    width: 20%;
    text-align: left;
    padding-left: 16px;
}

table.list-tag tbody tr td.STT {
    width: 10%!important;
    text-align: left;
}

table.list-tag tbody tr td form {
    display: inline;
}

table.list-tag thead tr th {
    width: 20%!important;
    text-align: left;
    padding-left: 25px;
}

table.list-tag {
    width: 100%!important;
    margin-left: 20px;
    display: table;
}


button#submit {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #2EE59D;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 10px 20px;
}
button#submit:hover {
  background-color: #ff98b7;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.sm{
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin: auto;
    border: 1px solid #5b5b5b;
    padding: 15px;
    outline: none;
    color: #444;
    transition: 0.5s;
    border-radius: 15px;
}
.sm:focus{
    box-shadow: 0 0 10px 4px #ff98b7;
}
